@font-face{
	font-family: 'Waffle';
	src:url('../fonts/Waffle Regular.otf');
}
.no-selection{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden ;
}
.head-text{
	font-family: 'Waffle';
	font-size:90px;
	color: #6B6B6B;
}
.home-me-so-good{
	position:absolute;width:100%; z-index: 1; height: 100%;
}
.logo{	 
	border-radius: 50%;
	border: #0077dd solid 2px;
	height:200px;
	width: 200px;
    background: white;
    z-index: 1;
}
.link-logo,.link-logo:hover,.logo h3{
	text-decoration: none;
	color: #0077dd;
}
.logo h3{
	padding-top:37%;
	 line-height: 45px;
}
.speech{
	color: white;
}
.bg-no-re{
	background-repeat: no-repeat; 
}
.s1{
	background-image: url('../img/speez1.svg');padding: 50px 10px;
}
.s2{
	background-image: url('../img/speez2.svg');padding: 50px 10px;
}
.s3{
	background-image: url('../img/speez3.svg');padding: 50px 10px 50px 50px;
}
.s4{
	background-image: url('../img/speez4.svg');padding:80px 5px 50px 40px ;background-size: 100%;
}
.div-anime-footer{
	position: relative;width: 100%; top:360px ; left:0; righ:0;
}
footer{
	position: fixed;bottom: -2.5px;left:0;right:0;
}
.word h1,.word h3{
	margin-bottom:60px;
}

@media screen and (max-width: 1920px) {
    .div-anime-footer{
		position: fixed; bottom:-700px ; left:0; righ:0;top:auto;
	}
}
@media screen and (max-width: 1366px) {
    .div-anime-footer{
		position: fixed; bottom:-800px ; left:0; righ:0;top:auto;
	}
}
@media screen and (max-width: 1280px) {
    .div-anime-footer{
		position: fixed; bottom:-700px ; left:0; righ:0;top:auto;
	}
}
@media screen and (max-width: 1024px) {
   	.div-anime-footer{
		position: fixed; bottom:-550px ; left:0; righ:0;top:auto;
	}
}
@media screen and (max-width: 980px) {
    .word h1,.word h3{
		margin-bottom:40px;
		margin-top:45px;
	}
	.head-text{
		font-size: 3em
	}
	.word h3{
		font-size: 2em
	}
	.logo{	 
		border: #0077dd solid 1px;
		height:200px; 
		width: 200px;
		margin-top:40px; 
	}
	.logo h3{
		padding-top:20%;
		line-height: 40px;
		margin-top:40px;
	}
	.div-anime-footer{
		position: fixed; bottom:-550px ; left:0; righ:0;top:auto;
	}
}
@media screen and (max-width: 800px) {
	.div-anime-footer{
		position: fixed; bottom:-400px ; left:0; righ:0;top:auto;
	}
}
@media screen and (max-width: 768px) {
    
}
@media screen and (max-width: 640px) {
    .word h1,.word h3{
		margin-bottom:12px;
		margin-top:0px;
	}
	.head-text{
		font-size: 2.3em
	}
	.word h3{
		font-size: 1.3em
	}
	.logo{	 
		height:130px; 
		width: 130px;
	}
	.logo h3{
		padding-top:26%;
	}
}
@media screen and (max-width: 480px) {
	.div-anime-footer{
		position: relative;width: 100%; top:360px ; left:0; righ:0;
	}
} 
@media screen and (max-width: 360px) {
    .word h1,.word h3{
		margin-bottom:35px;
		margin-top:30px;
	}
	.head-text{
		font-size: 2.5em
	}
	.word h3{
		font-size: 1.5em
	}
	.logo{
		height:150px; 
		width: 150px;
	}
	.logo h3{
		padding-top:10%;
	}
	.div-anime-footer{
		bottom:-150px ;
	}
}
@media screen and (max-width: 320px) {
     .word h1,.word h3{
		margin-bottom:20px;
		margin-top:0;
	}
	.logo h3{
		padding-top:28%;
	}
	.div-anime-footer{
		bottom:-120px ;
	}
}
